{%extends 'categories/base.html'%}

{%block content%}
{{block.super}}
{%for location in all_locations%}
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">All Images</h3>
  <p class="w3-center"><em>Check out some of my photos...</em></p><br>

  <div class="w3-row-padding w3-center w3-section">
      {%for image in images%}
    <div class="w3-col m3">
      <img src="{{image.pic.url}}" style="width:100%; min-height:90px" onclick="onClick(this)" class="w3-hover-opacity w3-margin-top w3-card-4" alt="The mist">
    </div>
      {%endfor%}
  </div>

</div>

{%endfor%}

{%endblock%}